body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: yellow;
}


header {
  position: sticky;
  top: 0;
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

h1 {
  margin: 0;
  white-space: nowrap;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}


footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
